
* {
  box-sizing: border-box;
  font-family:cursive;
}
/***************** Base style **************************************/

/****** the heading ************/
h1{
  text-align: center;
  margin:50px;
}

/*The container that contains 1- title  2- the text below the title*/
section#container{
  background-color: grey;
  height: 200px;
  border: 1px solid black;
  height: 150px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  
}
/* the sections titles of each n*/
.par{
  position:relative;
  top:0;
  right:0;
  margin:0;
  width: 100px;
  height: 40px;
  float:right;
  padding:5px;
  border:1px solid black;
  text-align: center;
}


/**unique background for each section title****/
#p1{
  background-color:lightcoral;
  color:black;
}
#p2{
background-color: darkslategrey;
}
#p3{
background-color: darkseagreen;
}

/* the sections text  */
#text{
  clear:right;
  padding:5px;
}



/***********************Responsive Design *****************************/
/******************** Desktop Version *******************************/
.row{
    width:100%
}
@media (min-width:992px) {
.col-lg-4{
    width:33.33%;
    float:left;
}  
}

/******************** Tablet Version *******************************/
@media (min-width:768px) and (max-width:991px ){
    .col-md-6{
        width:50%;
        float:left;
    }
    .col-md-12{
        width:100%;
        float:left;
}
}
/******************** Mobile Version *******************************/
@media (max-width:767px){
    .col-sm-12{
        width:100%;
        float:left;
    }
}