
* {
  box-sizing: border-box;
  font-family:cursive;
}
/***************** Base style **************************************/

div{
  position:relative;
  background-color: grey;
  height: 200px;
  border: 1px solid black;
}

section {
  clear:right;

}
h1{
  text-align: center;
}

/**background for section titles****/
#p1{
  background-color:lightcoral;
}
#p2{
background-color: darkslategrey;
}
#p3{
background-color: darkseagreen;
}

p {
  position:relative;
  top:0;
  right:0;
  width: 80px;
  height: 40px;
  float:right;
  border:1px solid black;
 text-align: center;
}

/******************** Desktop Version *******************************/
.row{
    width:100%
}
@media (min-width:992px) {
.col-lg-4{
    width:33.33%;
    float:left;
}  
}

/******************** Tablet Version *******************************/
@media (min-width:768px) and (max-width:991px ){
    .col-md-6{
        width:50%;
        float:left;
    }
    .col-md-12{
        width:100%;
        float:left;

}
}
/******************** Mobile Version *******************************/
@media (max-width:767px){
    .col-sm-12{
        width:100%;
        float:left;
     
    }
}